/* CSS */
body{
    margin: 0px;
    /* usur-agent-style-ssが存在（リセットcss) */
}
.haikei{
width: 100vw;
height: 100vh;
}
.haikei-image{
object-fit: cover;
height: 100%;
width: 100%;
}
.mannnaka-image{
top: 50%;
left: 50%;
position: absolute;
width: 40vw;
height: 40vh;
transform: translateX(-50%) translateY(-50%);
}


.lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
  }
  