/* CSS */
/* @keyframesプロパティでcssアニメーションの宣言 */


@keyframes horizontal {
    0% { transform:translateX( -55%); }
100% { transform:translateX( -45%); }
}
@keyframes vertical {
  0% { transform:translateY(-55%); }
100% { transform:translateY(-45%); }
}

body{
    margin: 0px;
    /* usur-agent-style-ssが存在（リセットcss) */
    font-family: 'Comic Sans MS','Hiragino Maru Gothic ProN',cursive;
    background-color: rgb(222, 247, 206);
}
.haikei{
width: 100vw;
height: 100vh;
}
.haikei-image{
object-fit: cover;
height: 100%;
width: 100%;
}
.haikei a{
top: 50%;
left: 50%;
position: absolute;
width: 40vw;
height: 40vh;
/* transform: translateX(-50%) translateY(-50%); */
animation: horizontal 1s ease-in-out infinite alternate;
}
.mannnaka-image{
animation: vertical 1s ease-in-out infinite alternate;
width: 50vw;
}
/* マイクのボタン */
.btn-top-radius {
  top: 90%;
  left: 50%;
  position: absolute;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #FFA000;
  background: #fff1da;
  border-bottom: solid 4px #FFA000;
  border-radius: 15px 15px 0 0;
  transition: .4s;
}
.btn-top-radius:hover {
  background: #ffc25c;
  color: #FFF;
}


.menu-wrapper {
    height: 500px;
    padding-bottom: 80px;
    
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #ff9138;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .menu {
    float: left;
    width: 50%;
  }
  
  .menu-button {
    position: relative;
  }
  
  .menu-button p {
    font-family: 'Comic Sans MS','Hiragino Maru Gothic ProN',cursive;
    font-size: 37px;
    position: absolute;
    top: 65px;
    width: 100%;
    color: rgb(255, 0, 0);
  }
  


.room-wrapper {
  height: 500px;
  padding-bottom: 80px;
  
  text-align: center;
}


.room-heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #ff9138;
}



.room {
  float: left;
  width: 25%;
}

.room-icon {
  position: relative;
}


.room-icon p {
  font-size: 37px;
  position: absolute;
  top: 45px;
  width: 100%;
  color: rgb(255, 0, 0);
}

.iconImage {
  max-width: 100%;
  height: auto;
}

.iconkirinImage {
  max-width: 50%;
  height: auto;
}

.kirinImage {
 height: auto;
 max-width: 40%;
}

.buntyoImage { 
  height: auto;
  max-width: 50%;
}

.catImage {
  height: auto;
  max-width: 50%;
}