/* CSS */
/* @keyframesプロパティでcssアニメーションの宣言 */

@-webkit-keyframes eight {
  0%,25% { -webkit-transform: rotate(40deg); }
100%,75% { -webkit-transform: rotate(-40deg); }
}
@keyframes eight {
0%,25% { transform: rotate(40deg); }
100%,75% { transform: rotate(-40deg); }
}
@-webkit-keyframes updown {
	25% { -webkit-transform: translate3d(50%,20px,0); }
	75% { -webkit-transform: translate3d(-50%,-20px,0); }
}
@keyframes updown {
  25% { transform: translate3d(50%,20px,0); }
	75% { transform: translate3d(-50%,-20px,0); }
}
body{
margin: 0px;
/* usur-agent-style-ssが存在（リセットcss) */
font-family: 'Comic Sans MS','Hiragino Maru Gothic ProN',cursive;
background-color: rgb(222, 247, 206);
}
.haikei{
width: 100vw;
height: 100vh;
position: relative;
}
.haikei-image{
object-fit: cover;
height: 100%;
width: 100%;
}
.mannaka{
top: 10%;
left: 30%;
position: absolute;
width: 40vw;
height: 40vh;
-webkit-transition: background-color 1s;
transition: background-color 1s;
-webkit-animation: eight 1s -1s infinite ease alternate;
animation: eight 1s -1s infinite ease alternate;
z-index: 1000;
}
.mannnaka-image{
transform-origin: center bottom;
-webkit-animation: updown 2s infinite linear;
animation: updown 2s infinite linear;
width: 50vw;
}
/* マイクのボタン */
.btn-top-radius {
  top: 90%;
  left: 50%;
  position: absolute;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #FFA000;
  background: #fff1da;
  border-bottom: solid 4px #FFA000;
  border-radius: 15px 15px 0 0;
  transition: .4s;
}
.btn-top-radius:hover {
  background: #ffc25c;
  color: #FFF;
}


.menu-wrapper {
    height: 500px;
    padding-bottom: 80px;
    
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #ff9138;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .menu {
    float: left;
    width: 50%;
  }
  
  .menu-button {
    position: relative;
  }
  
  .menu-button p {
    font-family: 'Comic Sans MS','Hiragino Maru Gothic ProN',cursive;
    font-size: 37px;
    position: absolute;
    top: 65px;
    width: 100%;
    color: rgb(255, 0, 0);
  }
  


.room-wrapper {
  height: 500px;
  padding-bottom: 80px;
  
  text-align: center;
}


.room-heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #ff9138;
}



.room {
  float: left;
  width: 25%;
}

.room-icon {
  position: relative;
}


.room-icon p {
  font-size: 37px;
  position: absolute;
  top: 45px;
  width: 100%;
  color: rgb(255, 0, 0);
}



.iconImage {
  max-width: 100%;
  height: auto;
}

.iconkirinImage {
  max-width: 50%;
  height: auto;
}

.kirinImage {
 height: auto;
 max-width: 40%;
}

.buntyoImage { 
  height: auto;
  max-width: 50%;
}

.catImage {
  height: auto;
  max-width: 80%;
}

